.cell {
    border-width: 5px;
    padding: 10px;
}

.cell img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}

figure {
    width: 100%;
    margin: 0;
    border: 0px solid #777;
    padding: 8px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    border-radius: 5px;
}

figure a {
    cursor: pointer;
}

figure figcaption {
    text-align: center;
    padding: 0 4px 15px 4px;
}

.responsive_image {
    width: 100%;
    height: 150px;
}

.username {
    float: left;
    margin-left: 12px;
    color: #3399ff;
    font-weight: bold;
}

.eye_icon, .comment_icon, .heart_icon, .link_icon {
    color: lightgray;
}

.eye_icon:hover, .comment_icon:hover, .heart_icon:hover, .link_icon:hover {
    color: black;
}

.lightbox_target {
    position: absolute;
    top: -100%;
    right: 0%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}

.lightbox_target img {
    display: block;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

span.lightbox_close {
    display: block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: fixed;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

span.lightbox_close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

span.lightbox_close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.lightbox_target:target {
    position: fixed;
    opacity: 1;
    top: 0;
    bottom: 0;
}

.lightbox_target:target img {
    max-height: 100%;
    max-width: 100%;
}

.lightbox_target:target span.lightbox_close {
    top: 0px;
    position: absolute;
}

.tab-right {
    float: right
}

@media (min-width: 1281px) {
    .cell {
        width: calc(90% / 4);
        text-align: center;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .cell {
        width: calc(90% / 4);
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cell {
        width: calc(90% / 3);
        text-align: center;
    }
}

@media (min-width: 741px) and (max-width: 1024px) and (orientation: landscape) {
    .cell {
        width: calc(90% / 3);
        text-align: center;
    }
}

@media (min-width: 481px) and (max-width: 740px) {
    .cell {
        width: calc(85% / 3);
        text-align: center;
    }
    .tab-right {
        float: none
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .cell {
        padding: 10px;
        width: calc(86% / 2);
        text-align: center;
    }
    .tab-right {
        float: none
    }
}